/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;  /* Adjust based on the desired height */
    position: relative;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-bottom: 2px solid #555;
}

/* Main page header with big logo */
header.main-header {
    background: url('images/Physics_concerto1.png') no-repeat center center;
    background-size: cover;
}
/* Header styles for non-main pages */
header.page-header {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    display: flex; /* Flexbox to align items */
    justify-content: space-between; /* Space between title and logo */
    justify-content: center;
    align-items: center; /* Align items vertically */
    padding: 0 20px; /* Padding on the sides */
}

header.page-header h1 {
    margin-right: 100px;
    font-size: 5rem; /* Bigger font size for the title */
}

header.page-header.dark {
    background-image: url('images/Physics_concerto2_white.png'); /* White logo */
    background-repeat: no-repeat;
    background-position: right center; /* Logo on the right */
    background-size: 300px; /* Logo size */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5rem 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px 0;
    background-color: #444;
    color: #fff;
    border-top: 2px solid #555;
    border-radius: 0 0 5px 5px;
}
/* Ensure elements don't exceed 100% of the viewport width */
img, video, iframe, embed {
    max-width: 100%;
    height: auto;
}

/* Responsive typography */
body {
    font-size: 16px;
}

/* Set navigation links to stack vertically on smaller screens */
@media (max-width: 600px) {
    nav a {
        display: block;
        padding: 10px;
        text-align: center;
        border-top: 1px solid #ddd;
    }

    nav a:first-child {
        border-top: none;
    }
}

/* Adjust header height for smaller screens */
@media (max-width: 600px) {
    header {
        height: 200px;
    }
}

/* Adjust main content padding for smaller screens */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
}

/* Emphasized text in the main page */
.emphasized-text {
    margin: 20px 0;  /* Adjusts space above and below the paragraph */
}
